body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #232323;
    color: #B6B6B6;
    text-align: center;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 3.5px;
    word-spacing: 3.5px;
    font-variant: small-caps;
}

h1 {
    font-size: 35px;
    letter-spacing: 8px;
}

h2 {
    font-size: 15px;
}

.para1 {
    background:#525252;
    text-align: center;
    width: 420px;
    height: fit-content;
    margin: auto;
}

.para2 {
    text-align: center;
    width: 420px;
    height: fit-content;
    margin: auto;
}

.img1 {
    padding: 15px;
}

.chunks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chunk1 {
    max-width: 1000px;
    flex-direction: column;
}

.chunk2 {
    padding: 15px;
}